github "hackiftekhar/IQKeyboardManager"
github "SVProgressHUD/SVProgressHUD"
github "texturegroup/texture"
github "kishikawakatsumi/KeychainAccess"
github "radex/SwiftyUserDefaults"
github "MLSDev/TRON"
github "yannickl/DynamicColor"